{% extends 'AseagleBundle::layout.html.twig' %}
{% block title %}The Leading B2B Market Place for Agriculture Products{% endblock %}


{% block content %}
    <div class="" style="margin: auto; width: 63%">
        <div id="sourcing_services"><br/><br/></div>
        <h2><a href="#sourcing_services">Product Sourcing Services </a></h2>
        <p>   We understand that sourcing for good products is not easy, especially when you are not based in the country that provide products/services you’re sourcing for. Furthermore, the cost of travelling to another country to meet suppliers several times and qualify products is normally too high. We can help you <strong>save time and money</strong> by offering a complete sourcing services to help you find the products you want.
            <br/>
            All you have to do is to provide us with necessary information such as product name, required specifications, quantity, material and expected price, we will do the rest of the hard works to source for the right products for you.
            <br/>
            Having a professional and dedicated team, large database of suppliers, we are highly confident that we can provide excellent sourcing service for you.
            <br/>
            Please contact us by emailing to sourcing@aseagle.net for further steps.
        </p>

        <div id="inspection_services"><br/><br/></div>
        <h2><a href="#inspection_services">Inspection Services</a></h2>
        <p>
            Check the quality of each shipment, make sure all products are done with good quality.  We have our experienced QC team to control quality of all orders before loading into container. Inspection is optional with 2 choice : random check ( check percentage on the total order quantity) or piece by piece check (check 100% quantity). After the inspection, we will supply Customers the QC reports with all pictures, information and our comments. Based on the report, Customers may decide to approve shipment or hold shipment for re-inspection.

        </p>

        <div id="factory_audit"><br/><br/></div>
        <h2><a href="#factory_audit">Factory Audit</a></h2>
        <p>
            On behalf of customers, we will audit factories and make detailed report for their consideration. Audit may be performed according to requirements given by Customers like a checklist or report template to follow. On the other hand, we may audit using our standard method and report back with the photos, information and our comments. In case Customers would like to have an official report certified by a famous Audit Company, we’re able to arrange with this Company for handling the whole process until getting certificate.
            <br/><br/>
            Interested customers please <a href="#">Click Here</a> to get quotation.<br/><br/>

        </p>
        <div id="translation_pickup"><br/><br/></div>
        <h2><a href="#translation_pickup">Translation and Airport Pickup Services</a></h2>
        <p>
            Customers send us the schedule of their trip in Vietnam together with the arrival time to Ho Chi Minh city and departure time for return flight, we will arrange the car pick up at the airport to hotel, and from hotel to airport on the leaving day. We also can support by make a booking to the hotel for Customer’s stay.
            <br/><br/>
            Accompany Customers to visit factories is another service from us. We will arrange car with a qualified staff to follow and take care of Customers well during the trip. This staff will be a bridge between Customers and Suppliers, and also may do follow up after the trip.
        </p>
    </div>
{% endblock %}



