<div class="col-70-auto">
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="form-horizontal fos_user_resetting_request">

        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-6"><h4>Request for Password Reset</h4></div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <p>In order to change your password, please enter the email address used to create your Aseagle account or your Aseagle user ID:</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
            <div class="col-md-6">
                <input type="text" class="form-control input-md" id="username" name="username" required="required" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-6">
                {% if invalid_username is defined %}
                    <p style="color: red">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-6">
                <input class="btn btn-primary" type="submit" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
        </div>
    </form>
</div>
